<!DOCTYPE html>
<html>

<head>
    <%- include('../header') -%>
</head>

<body style="height: 100vh;">
    <%- include('../nav') -%>
    <div class="wrapper mt-n5 ">
        <%- include('sidebar') -%>
        <div class="content w-100 py-4 d-flex justify-content-center align-items-center">
            <div class="w-75  border rounded p-3 px-4 bg-white shadow h-100 d-flex flex-column justify-content-around">
                <div class="overflow-auto ">
                    <div class=" d-flex flex-row my-3" >
                        <a href="/admin/editPI" class="  ml-5 mr-3 " 
                            style="text-decoration:none;font-size: 1.3rem; color: #003CFF;">
                            團隊資訊
                        </a>
                        <a href="/admin/editPF" class="  border-right border-left px-4"
                            style="text-decoration:none;font-size: 1.3rem; color: black;">
                            專題檔案
                        </a>
                    </div>
                    <div class="px-4 pb-3 pt-1 d-flex flex-row justify-content-start m-2">
                        <div>
                            <img src="/static/images/group.png" class="img-fluid ml-3 mt-2" style="width: 3rem;" alt="">
                        </div>
                        <p class="mx-2 my-2" style="font-size: 1.7rem;">
                            團隊資料設定
                        </p>

                    </div>
                    <div class="container">
                        <div class="row d-flex flex-row px-5 pb-0">
                            <i class="fas fa-arrow-right mt-2"></i>
                            <p class="px-3 mb-2" style="font-size: 24px;">專題名稱</p>
                            <input type="text" style="width: 50%;" class="form-control">
                        </div>
                        <div class="col px-5 pb-0">
                            <div class="row py-1">
                                <i class="fas fa-arrow-right mt-2"></i>
                                <p class="px-3 mb-2" style="font-size: 24px;">專題成員</p>
                            </div>
                            <div class="col " id="member">
                                <div class="row mb-2 px-3">
                                    <input type="text" style="width: 50%;" class="form-control ">
                                </div>

                            </div>
                            <script src="/static/script/editingProjectInfo.js"></script>
                        </div>
                        <div class="col  px-5 pb-0">
                            <div class="row">
                                <i class="fas fa-arrow-right mt-2"></i>
                                <p class="px-3 mb-2" style="font-size: 24px;">指導老師</p>
                            </div>
                            <div class="col">
                                <div class="row px-3 pb-2">
                                    <input type="text" style="width: 50%;" class="form-control">
                                </div>

                            </div>

                        </div>
                        <div class="col px-5 pb-0">
                            <div class="row">
                                <i class="fas fa-arrow-right mt-2"></i>
                                <p class="px-3 mb-2" style="font-size: 24px;">簡介</p>
                            </div>
                            <div class="row" style="padding-left:30px;">
                                <textarea name="" id="" cols="50" rows="4" class="form-control w-75"></textarea>
                                <button class="btn btn-primary  ml-auto mr-0 h-25 mb-0 mt-auto">更新！</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../footer'); -%>
</body>