<!DOCTYPE html>
<html>

<head>
  <%- include('../header') -%>
</head>

<body style="height: 100vh;">
  <%- include('../nav') -%>
  <div class="wrapper mt-n5">
    <%- include('sidebar') -%>
    <div class="content w-100 py-5 d-flex justify-content-center align-items-center">
      <div class="w-75 border rounded p-3 px-4 bg-white shadow h-100 d-flex flex-column justify-content-around">
        <div class="input-group">
          <button type="button" class="btn btn-outline-dark rounded-0" data-toggle="modal" data-target="#addingTeam"> + 新增專題團隊</button>

          <div class="modal fade" id="addingTeam" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLongTitle" style="margin-left: 100px;">
                    <img src="/static/images/group.png" style="width: 45px;margin:5px;" alt="">
                    專題團隊資料設定</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div class="row mt-2">
                      <div class="nav col-3 justify-content-end">
                        <i class="fas fa-arrow-right py-2"></i>
                      </div>
                      <div class="col-3 mt-1">
                        <h5>專題名稱</h5>
                      </div>
                      <div class="col-3">
                        <input class="form-control" type="text" placeholder="專題名稱" style="width: 150px;">
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="nav col-3 justify-content-end">
                        <i class="fas fa-arrow-right py-2"></i>
                      </div>
                      <div class="col-3 mt-1">
                        <h5>專題成員</h5>
                      </div>
                    </div>
                    <div class="row mt-2" id="addingMembers">
                      <div class="col-3 pb-2" style="margin-left: 119px;">
                        <input type="text" style="width: 150px;" class="form-control ">
                        <script src="/static/script/addingGroup.js"></script>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="nav col-3 justify-content-end">
                        <i class="fas fa-arrow-right py-2"></i>
                      </div>
                      <div class="col-3 mt-1">
                        <h5>指導老師</h5>
                      </div>
                      <div class="col-3">
                        <input class="form-control" type="text" style="width: 150px;">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="container">
                    <div class="row justify-content-center">
                      <button type="button" class="btn btn-primary rounded">新增！</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <input class="form-control text-dark ml-2 border-dark border-right-0" type="text" placeholder="搜尋">
          <div class="input-group-append bg-transparent">
            <button class="btn btn-outline-dark " type="button"><i class="fas fa-search bg-transparent "></i>
            </button>
          </div>
        </div>
        <div class="d-flex justify-content-end w-100">
          <button type="button" class="btn btn-light" id="select"> 全選</button>
          <script>
            $("button#select").click(function () {
              let allchecked = true
              $(`input[type="checkbox"]`).each(function () {
                if (!$(this).prop(`checked`)) allchecked = false
              })
              $(`input[type="checkbox"]`).prop(`checked`, !allchecked)
            })
          </script>
          <button type="button" class="btn btn-light mr-0" id="delete">
            <i class="fas fa-trash"></i>
          </button>
        </div>
        <div class="project-list border overflow-auto w-100 h-75 mb-0">
          <form role="form">
            <div class="checkbox">
              <label class="projects-item" >
                <input type="checkbox" class="m-1 ">
                Disco0
                <button type="button" class="btn btn-light btn-sm edit">
                  <a href="/admin/editPI" style="color:black;text-decoration:none;"><i class="fas fa-file-signature"></i> 編輯專題團隊內容</button></a>
              </label>
            </div>
            <div class="checkbox">
              <label class="projects-item ">
                <input type="checkbox" class="m-1 ">
                Disco0
                <button type="button" class="btn btn-light btn-sm edit">
                  <a href="/admin/editPI" style="color:black;text-decoration:none;"><i class="fas fa-file-signature"></i> 編輯專題團隊內容</button></a>
              </label>
            </div>
            <div class="checkbox">
              <label class="projects-item ">
                <input type="checkbox" class="m-1 ">
                Disco0
                <button type="button" class="btn btn-light btn-sm edit">
                  <a href="/admin/editPI" style="color:black;text-decoration:none;"><i class="fas fa-file-signature"></i> 編輯專題團隊內容</button></a>
              </label>
            </div>
            <div class="checkbox">
              <label class="projects-item ">
                <input type="checkbox" class="m-1 ">
                Disco0
                <button type="button" class="btn btn-light btn-sm edit">
                  <a href="/admin/editPI" style="color:black;text-decoration:none;"><i class="fas fa-file-signature"></i> 編輯專題團隊內容</button></a>
              </label>
            </div>
            <div class="checkbox">
              <label class="projects-item ">
                <input type="checkbox" class="m-1 ">
                Disco0
                <button type="button" class="btn btn-light btn-sm edit">
                  <a href="/admin/editPI" style="color:black;text-decoration:none;"><i class="fas fa-file-signature"></i> 編輯專題團隊內容</button></a>
              </label>
            </div>
            <div class="checkbox">
              <label class="projects-item ">
                <input type="checkbox" class="m-1 ">
                Disco0
                <button type="button" class="btn btn-light btn-sm edit">
                  <a href="/admin/editPI" style="color:black;text-decoration:none;"><i class="fas fa-file-signature"></i> 編輯專題團隊內容</button></a>
              </label>
            </div>
            <div class="checkbox">
              <label class="projects-item ">
                <input type="checkbox" class="m-1 ">
                Disco0
                <button type="button" class="btn btn-light btn-sm edit">
                  <a href="/admin/editPI" style="color:black;text-decoration:none;"><i class="fas fa-file-signature"></i> 編輯專題團隊內容</button></a>
              </label>
            </div>
            <div class="checkbox">
              <label class="projects-item ">
                <input type="checkbox" class="m-1 ">
                Disco0
                <button type="button" class="btn btn-light btn-sm edit">
                  <a href="/admin/editPI" style="color:black;text-decoration:none;"><i class="fas fa-file-signature"></i> 編輯專題團隊內容</button></a>
              </label>
            </div> 
            <div class="checkbox">
              <label class="projects-item ">
                <input type="checkbox" class="m-1 ">
                Disco0
                <button type="button" class="btn btn-light btn-sm edit">
                  <a href="/admin/editPI" style="color:black;text-decoration:none;"><i class="fas fa-file-signature"></i> 編輯專題團隊內容</button></a>
              </label>
            </div>  
          </form>
        </div>
      </div>
    </div>
  </div>
  <%- include('../footer'); -%>
</body>