<nav id="sidebar" class="border-right bg-white">
    <ul class="list-unstyled components">
        <a class="p-3 py-4 text-left 
        <% if (subtitle == '管理專題 & 團隊') { %>
            highlight
            " <% } else { %> "
        href=" /admin/managePT" <% } %>>
            <img class="img-fluid mx-1" src="/static/images/project.png" alt="">

            管理專題 & 團隊
        </a>
        <a class="p-3 py-4 text-left 
        <% if (subtitle == '管理使用者') { %>
            highlight
            " <% } else { %> "
        href=" /admin/accountM" <% } %>>
            <img class="img-fluid mx-1" src="/static/images/manageUser.png" alt="">
            管理使用者
        </a>
        <a class="p-3 py-4 text-left 
        <% if (subtitle == '系統時程設定') { %>
            highlight
            " <% } else { %> "
        href=" /admin/managePT" <% } %>>
            <img class="img-fluid mx-1" src="/static/images/time.png" alt="">
            系統時程設定
        </a>
    </ul>
</nav>