
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

body{
  font-family: 'Noto Sans TC', sans-serif;
}

.messageicon {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}
.messageicon2 {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}
.messageicon3 {
  width: 35rem;
  height: 6rem;
  object-fit: cover;
}
.discuss {
    background: rgba(255,255,210);
}
.profileicon{
    width: 20rem;
    height: 20rem;
  object-fit: cover;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.wrapper > .content {
  height: 90vh;
  overflow: auto;
}

nav#sidebar {
  min-width: 200px;
  max-width: 200px;
  height: 90vh;
}

nav#sidebar > ul > li > img {
  width: 2rem;
}

nav#sidebar > ul > li.highlight {
  background: rgba(255,255,0);
}