
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

body{
  font-family: 'Noto Sans TC', sans-serif;
}

.messageicon {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}
.messageicon2 {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}
.messageicon3 {
  width: 35rem;
  height: 6rem;
  object-fit: cover;
}
.discuss {
  background: rgba(255,255,210);
}
.profileicon{
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

.wrapper {
  display: flex;
  width: 100vw;
  align-items: stretch;
}

.wrapper > .content {
  height: 90vh;
  overflow: auto;
}

/*project and team management*/
.manageBg {
  width: 700px;
  height: 620px;
  background-color: white;
  margin-left: 315px;
  margin-top: 35px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.35);
}