textarea#input {
  resize: none;
}

div#messages {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.35);
  border-radius:  1rem;
  overflow-y: auto;
}

.messageicon {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}
