.bg-color {
    background: #3CB371;
}

nav#desktop .input-group *{
    background:rgba(255, 255, 255, 0.5);
}

nav#desktop a:hover {
    text-decoration: none;
}

nav#desktop {
    height: 10vh;
}

nav#sidebar {
    min-width: 200px;
    max-width: 200px;
    height: 90vh;
  }
  
  nav#sidebar > ul > li > img {
    width: 2rem;
  }
  
  nav#sidebar > ul > li.highlight {
    background: #DEFEFB;
  }