nav .form-control{
    border-radius: 40px;
    background-color: #343a40 !important;
}
nav .form-control::placeholder{
    color: white;
    opacity: 0.4;
}

nav a:hover {
    text-decoration: none;
}