<nav id="sidebar" class="border-right bg-white">
    <ul class="list-unstyled components">
        <li class="p-3 py-4 text-left <% if (subtitle == '管理專題 & 團隊') { %>highlight<% } %>" href="/public" role="button">
            <img class="img-fluid mx-1" src="/static/images/project.png" alt="">
            管理專題 & 團隊
        </li>
        <li class="p-3 py-4 text-left <% if (subtitle == '管理使用者') { %>highlight<% } %>" href="/public" role="button">
            <img class="img-fluid mx-1" src="/static/images/manageUser.png" alt="">
            管理使用者
        </li>
        <li class="p-3 py-4 text-left <% if (subtitle == '系統時程設定') { %>highlight<% } %>" href="/public" role="button">
            <img class="img-fluid mx-1" src="/static/images/time.png" alt="">
            系統時程設定
        </li>
    </ul>
</nav>


