<!DOCTYPE html>
<html>

<head>
    <%- include('header') -%>
</head>

<body style="height: 100vh;">
    <%- include('nav') -%>
    <div class="wrapper mt-n5">
        <%- include('sidebar') -%>
        <div class="content p-5">
            <canvas id="blackboard" class="img-fluid">

            </canvas>
        </div>
    </div>
    <script src="/static/script/blackboard.js"></script>
    <%- include('footer'); -%>
</body>