<!DOCTYPE html>
<html>

<head>
    <%- include('header') -%>
</head>

<body style="height: 100vh;">
    <%- include('nav') -%>
    <div class="wrapper">
        <nav id="sidebar" class="border-right bg-white mt-n5">
            <ul class="list-unstyled components">
                <li class="m-3 my-4 text-left highlight" href="/public" role="button">
                    <img class="img-fluid mx-1" src="/static/images/calendar (1).png" alt="">
                    行程表
                </li>
                <li class="m-3  my-4 text-left" href="/public" role="button">
                    <img class="img-fluid mx-1" src="/static/images/folder.png" alt="">
                    專題資料
                </li>
                <li class="m-3  my-4 text-left" href="/public" role="button">
                    <img class="img-fluid mx-1" src="/static/images/message.png" alt="">
                    留言板
                </li>
                <li class="m-3  my-4 text-left" href="/public" role="button">
                    <img class="img-fluid mx-1" src="/static/images/candidates.png" alt="">
                    線上交流平台
                </li>
                <li class="m-3  my-4 text-left" href="/public" role="button">
                    <img class="img-fluid mx-1" src="/static/images/qualification.png" alt="">
                    專題評分
                </li>
            </ul>
        </nav>
        <div class="content mt-n5 p-5">
            <canvas id="blackboard" class="img-fluid">

            </canvas>
        </div>
    </div>
    </div>
    <script src="/static/script/blackboard.js"></script>
    <%- include('footer'); -%>
</body>