<!DOCTYPE html>
<html>

<head>
    <title>高雄大學資訊工程學系 畢業專題交流平台</title>
    <%- include('header') -%>
    <link rel="stylesheet" href="/static/stylesheets/login.css">
</head>

<body>
    <div class="container">
    <h1 class="m-5 text-center font-weight-bold">高雄大學資訊工程學系 畢業專題交流平台</h1>
    <div class="login d-flex flex-column my-3">
            <a href="/login">
                <img src="/static/images/google.png" alt="" class="img-fluid">
            </a>
            <a href="/mainpage">
                <img src="/static/images/guest.png" alt="" class="img-fluid">
            </a>
        </div>
    </div>
</body>

</html>