<!DOCTYPE html>
<html>

<head>
    <%- include('header') -%>
</head>

<body>
    <%- include('nav') -%>
    <div class=" mt-n5 p-5 d-flex align-items-center justify-content-center style="height: 90vh;">
        <div class="d-flex flex-lg-row flex-xl-row flex-xs-column flex-sm-column flex-nowrap w-100 justify-content-around" >
            <div class="h-75 mx-3">
                    <img class="my-3 img-fluid" src="/static/images/data.png" alt=""><br>
                    <a href="/projects" role="button" class="btn btn-lg btn-block btn-outline-primary ">瀏覽專題資料</a>
            </div>
            <% if (login) {%>
            <div class="h-75 mx-3">
                <img class="my-3 img-fluid" src="/static/images/profile.png" alt=""><br>
                <a href="/profile" role="button" class="btn btn-lg btn-block btn-outline-primary">個人資料</a>
            </div>
            <%}%>
            <% if (team) {%>
            <div class="h-75 mx-3">
                <img class="my-3 img-fluid" src="/static/images/team.png" alt=""><br>
                <a href="/team/info" role="button" class="btn btn-lg btn-block btn-outline-primary">我的團隊</a>
            </div>
            <%}%>
        </div>
    </div>
    <%- include('footer'); -%>
</body>