<!DOCTYPE html>
<html>

<head>
    <%- include('header') -%>
</head>

<body style="height: 100vh;">
    <%- include('nav') -%>
    <div class="d-flex align-items-center h-100 mx-5">
        <div
            class="card-deck flex-lg-row flex-xl-row flex-xs-column flex-sm-column flex-nowrap mx-auto justify-content-center align-items-center h-100">
            <div>
                <div class="card-body w-75  mx-auto">
                    <img class="my-3 img-fluid" src="/static/images/data.png" alt=""><br>
                    <a href="/projects" role="button" class="btn btn-lg btn-block btn-outline-primary ">瀏覽專題資料</a>
                </div>
            </div>
            <div>
                <div class="card-body w-75  mx-auto">
                    <img class="my-3 img-fluid" src="/static/images/profile.png" alt=""><br>
                    <a href="/profile" role="button" class="btn btn-lg btn-block btn-outline-primary">個人資料</a>
                </div>
            </div>
            <div>
                <div class="card-body w-75  mx-auto">
                    <img class="my-3 img-fluid" src="/static/images/team.png" alt=""><br>
                    <a href="/public" role="button" class="btn btn-lg btn-block btn-outline-primary">我的團隊</a>
                </div>
            </div>
        </div>
    </div>
    <%- include('footer'); -%>
</body>