<nav id="desktop" class="d-flex flex-row align-items-center p-3 bg-dark fixed-top">
    <h1 class="text-light m-0 mr-5"><%= title %></h1>
    <div class="ml-0 mr-auto w-50">
        <input class="form-control ml-1 my-auto px-4" style="font-size: 1.25rem;" type="text" placeholder="搜尋"
            aria-label="Search">
    </div>
    <button type="button" class="btn btn-light d-flex" role="button" id="logoutMenu" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="p-2 mx-auto mt-1 text-dark"><%= name %></span>
        <img class="img-fluid rounded-circle float-right" src="<%= image %>" style="height:50px" alt=""></img>
    </button>
    <div class="dropdown-menu mt-2" aria-labelledby="logoutMenu">
        <a class="dropdown-item" href="/">主頁</a>
        <a class="dropdown-item" href="/">我的團隊</a>
        <a class="dropdown-item" href="/">我的資料</a>
        <a class="dropdown-item" href="/">登出</a>
    </div>
</nav>