<!DOCTYPE html>
<html>

<head>
    <%- include('header') -%>
</head>

<body style="height: 100vh;">
    <%- include('nav') -%>
    <div class="d-flex align-items-center  h-100 mx-5">
        <%- include('administratorOptions') -%>
        <div>
            <h1>Hi</h1>
        </div>
    </div>
    <%- include('footer'); -%>
</body>