<!DOCTYPE html>
<html>

<head>
    <%- include('header') -%>
</head>

<body style="height: 100vh;">
    <%- include('nav') -%>
    <div class="wrapper mt-n5">
        <%- include('administratorOptions') -%>
        <div class = "manageBg">
          <div class = "project-list">
            <form role = "form">
              <div class = "checkbox"> 
                <label class = "projects-item"><input type = "checkbox" style="width:15px;height:15px;margin:5px;">Disco0</label>
              </div>
              <div class = "checkbox"> 
                <label class = "projects-item"><input type = "checkbox" style="width:15px;height:15px;margin:5px;">Disco1</label>
              </div>
              <div class = "checkbox"> 
                <label class = "projects-item"><input type = "checkbox" style="width:15px;height:15px;margin:5px;">Disco2</label>
              </div>
            </form>
          </div>
        </div>
    </div>
    <%- include('footer'); -%>
</body>