<!DOCTYPE html>
<html>

<head>
    <%- include('header') -%>
</head>

<body style="height: 100vh;">
    <%- include('nav') -%>
    <div class="wrapper mt-n5">
        <%- include('administratorOptions') -%>
        <div>
            <h1>Hi</h1>
        </div>
    </div>
    <%- include('footer'); -%>
</body>