<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('header') -%>
</head>

<body style="height: 100vh;">
    <%- include('nav') -%>
    <div class="d-flex align-items-center h-100 mx-5">
        <div class="card mt-5 w-100 h-75 border-0">
            <div class="card-header bg-transparent px-0 border-0">
                <ul class="nav nav-tabs card-header-tabs mx-0">
                    <li class="nav-item ml-0">
                        <span class="nav-link active" href="#">DISCO</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">海報</a>
                    </li>
                </ul>
            </div>
            <div class="card-body border rounded-bottom p-5">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</body>

</html>