<!DOCTYPE html>
<html>

<head>
    <%- include('header') -%>
    <script src="/static/script/schedule.js" defer="defer" ></script>
</head>

<body style="">
    <%- include('nav') -%>
    <div class="d-flex align-items-center  h-100 mx-5">
        <%- include('TeacherIndex') -%>
        <canvas class="px-3" id="timeline" width="1200px" height="500px" >123</canvas>
        
    </div>
    <%- include('footer'); -%>
</body>