<!DOCTYPE html>
<html>

<head>
    <%- include('header') -%>
    <link rel="stylesheet" href="jquery.eeyellow.Timeline.css">

</head>

<body style="height: 100vh;">
    <%- include('nav') -%>
    <div class="d-flex align-items-center  h-100 mx-5">
        <%- include('TeacherIndex') -%>
        <div>
            <section class="timeline">
                <ol>
                  <li>
                    <div>
                      <time>1934</time>
                      Some content here
                    </div>
                  </li>
                    
                  <!-- more list items here -->
                   
                  <li></li>
                </ol>
            </section>
        </div>
    </div>
    <%- include('footer'); -%>
</body>