<!DOCTYPE html>
<html>

<head>
    <%- include('../header') -%>
</head>

<body style="height: 100vh;">
    <%- include('../nav') -%>
    <div class="wrapper mt-n5">
        <%- include('sidebar') -%>
        <div class="content blackboard">
            <div class="d-flex h-100 justify-content-center align-items-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/script/blackboard.js"></script>
    <%- include('../footer'); -%>
</body>