<!DOCTYPE html>
<html>

<head>
    <%- include('../header') -%>
    <style>
        .card-body h6 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .selection {
            display: flex;
            left: 0;
            top: 0;
            background: rgba(255, 255, 255, 0.8);
        }

        .selection div {
            transition: 0.3s;
        }

        .selection div:hover {
            background: rgba(0, 0, 0, 0.25);
            cursor: pointer;
        }

        .drop-prompt {
            left: 0;
            top: 0;
            background: rgba(255, 255, 255, 0.8);
            display: flex;
        }
    </style>
</head>

<body style="height: 100vh;">
    <%- include('../nav') -%>
    <div class="wrapper mt-n5">
        <%- include('sidebar') -%>
        <div class="content w-100 p-5 mx-auto">
            <div class="card-columns">
                <div class="card">
                    <img src="https://news.agentm.tw/wp-content/uploads/baby-yoda-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body d-flex">
                        <i class="fas fa-file-image mr-3"></i>
                        <h6>shortshortshortshortshortshortshortshortshortshortshortshort.jpg</h6>
                    </div>
                    <div class="h-100 w-100 position-absolute selection" style="display: none;">
                        <div class="download h-100 w-50 d-flex justify-content-center align-items-center"><i
                                class="fas fa-download"></i></div>
                        <div class="delete h-100 w-50 d-flex justify-content-center align-items-center"><i
                                class="fas fa-trash"></i></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body d-flex">
                        <i class="fas fa-file-word mr-3"></i>
                        <h6>aaa.docx</h6>
                    </div>
                    <div class="h-100 w-100 position-absolute selection" style="display: none;">
                        <div class="download h-100 w-50 d-flex justify-content-center align-items-center"><i
                                class="fas fa-download"></i></div>
                        <div class="delete h-100 w-50 d-flex justify-content-center align-items-center"><i
                                class="fas fa-trash"></i></div>
                    </div>
                </div>
            </div>
            <div class="w-100 h-100 position-absolute drop-prompt align-items-center justify-content-center"
                style="display: none;">
                <h1>Drop here to upload!</h1>
            </div>
        </div>
    </div>
    <script src="/static/script/data.js"></script>
    <%- include('../footer'); -%>
</body>