<!DOCTYPE html>
<html>

<head>
    <%- include('../header') -%>
    <script src="/static/script/mime.js"></script>
    <style>
        .card-body h6 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .selection {
            display: flex;
            left: 0;
            top: 0;
            background: rgba(255, 255, 255, 0.8);
        }

        .selection div {
            transition: 0.3s;
        }

        .selection div:hover {
            background: rgba(0, 0, 0, 0.25);
            cursor: pointer;
        }

        .drop-prompt {
            left: 0;
            top: 0;
            background: rgba(255, 255, 255, 0.8);
            display: flex;
        }

        h4 {
            display:flex; 
        }
    </style>
</head>

<body style="height: 100vh;">
    <%- include('../nav') -%>
    <div class="wrapper mt-n5">
        <%- include('sidebar') -%>
        <div class="content w-100 p-5 mx-auto">
            <h4 class="w-100 h-100 m-0 align-items-center justify-content-center" id="empty" style="display: none;">目前沒有檔案<i class="ml-1 fas fa-coffee"></i></h4>
            <div class="card-columns">
                
            </div>
            <div class="w-100 h-100 position-absolute drop-prompt align-items-center justify-content-center"
                style="display: none; pointer-events: none;">
                <h1>Drop here to upload!</h1>
            </div>
        </div>
    </div>
    <script src="/static/script/storage.js"></script>
    <%- include('../footer'); -%>
</body>