<!DOCTYPE html>
<html>

<head>
    <%- include('../header') -%>
    <script src="/static/script/mime.js"></script>
    <style>
        .card-body h6 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .selection {
            display: flex;
            left: 0;
            top: 0;
            background: rgba(255, 255, 255, 0.8);
        }

        .selection div {
            transition: 0.3s;
        }

        .selection div:hover {
            background: rgba(0, 0, 0, 0.25);
            cursor: pointer;
        }

        .drop-prompt {
            left: 0;
            top: 0;
            background: rgba(255, 255, 255, 0.8);
            display: flex;
        }

        h4 {
            display:flex; 
        }
    </style>
</head>

<body style="height: 100vh;">
    <%- include('../nav') -%>
    <div class="wrapper mt-n5">
        <%- include('sidebar') -%>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">指定為海報</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        將這張圖片設置為海報，提供給所有使用者查閱，可隨時更改其他圖片為海報。
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">否</button>
                        </div>
                        <div>
                            <button type="button" class="confirm btn btn-primary" data-dismiss="modal">是</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content w-100 p-5 mx-auto">
            <h4 class="w-100 h-100 m-0 align-items-center justify-content-center" id="empty" style="display: none;">目前沒有檔案<i class="ml-1 fas fa-coffee"></i></h4>
            <div class="card-columns">
                
            </div>
            <div class="w-100 h-100 position-absolute drop-prompt align-items-center justify-content-center"
                style="display: none; pointer-events: none;">
                <h1>Drop here to upload!</h1>
            </div>
        </div>
    </div>
    <script src="/static/script/storage.js"></script>
    <%- include('../footer'); -%>
</body>